/* Sivun yleiset asetukset */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');
* {	border: 0;
	padding: 0;
	margin: 0;
	font-family: 'Prompt', sans-serif;
	color: aliceblue;	
}

body {
    background: slategrey;
    text-align: center;
	background-image: url(hha_media/background-7002290.jpg);
	background-size: cover;
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 50vh;
	height: auto;}

h2 {
	font-size: 200%;
	background-color: rgb(0, 0, 0, 0.9);	
	padding: 3px 10px;
	border-radius: 14px;	
}

/* content muotoilu aka. sekoilu */

.textBox {
	margin: auto;
	padding: 1vh;
	max-width: 100vh;
	background-color: rgb(0, 0, 0, 0.9);
	font-size: 150%;
}
.contentHeadlineHoney1{
	height: 100vh;
	background-image: url(hha_media/honeyjar1\ \(2\).jpg);
	background-attachment: fixed;
	background-size: cover;
}
.contentHeadlineHoney2{
	height: 80vh;
	background-image: url(hha_media/honeyjar2.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.contentHeadlineHoney3{
	height: 80vh;
	background-image: url(hha_media/honeyStacked.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.contentHeadlineHoney4{
	height: 80vh;
	background-image: url(hha_media/beeswax-4052813.jpg);
	background-attachment: fixed;
	background-size: cover;
}

/* Nav on viel ripulia, en ehtinyt selvittää miks eka versio ei toiminut. Tämä on väliaikainen */

.svg {
	max-width: 100px;
	max-height: 100px;
	background-color: whitesmoke;
		
}  
.hha__header { position: fixed;
}

/* Gridin jäsentely */

.hha__header { grid-area: header; border: black solid 2px; }
.hha__footer { grid-area: footer; border: black solid 2px; }
.hha__main { grid-area: main; border: black solid 2px; }
.hha__left { grid-area: navigation; border: black solid 2px;}
.hha__right { grid-area: ads; border: black solid 2px;}

.hha_grid {        
        grid-template-areas: 
                            "header"
		                    "navigation"
		                    "main"
		                    "ads"
		                    "footer";
		grid-template-columns: 100%;
		grid-template-rows: 100px 
							50px 
							1fr
							50px 
							30px;
	}
}
