/* Sivun yleiset asetukset */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');
* {	border: 0;
	padding: 0;
	margin: 0;
	font-family: 'Prompt', sans-serif;
	color: aliceblue;	
}

body {
    background: slategrey;
    text-align: center;
	background-image: url(hha_media/background-7002290.jpg);
	background-size: cover;
	background-attachment: fixed;
}
div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;	
	height: auto;}

h2 {
	font-size: 200%;
	background-color: rgb(0, 0, 0, 0.9);	
	padding: 3px 10px;
	border-radius: 14px;	
}

/* content muotoilu*/

.textBox {
	margin: auto;
	padding: 1vh;
	max-width: 100vh;
	background-color: rgb(0, 0, 0, 0.9);
	font-size: 100%;
	min-height: 50vh;
}
/* Honey osuus */
.contentHeadlineHoney1{
	height: 100vh;
	background-image: url(hha_media/honeyjar1\ \(2\).jpg);
	background-position:center;
	background-attachment: fixed;
	background-size: cover;
}
.contentHeadlineHoney2{
	height: 80vh;
	background-image: url(hha_media/honeyjar2.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.contentHeadlineHoney3{
	height: 80vh;
	background-image: url(hha_media/honeyStacked.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.contentHeadlineHoney4{
	height: 80vh;
	background-image: url(hha_media/beeswax-4052813.jpg);
	background-attachment: fixed;
	background-size: cover;
}
/* Bee osuus */
.contentHeadlineBee1{
	height: 100vh;
	background-image: url(hha_media/beeBG.jpg);
	background-position:center;
	background-attachment: fixed;
	background-size: cover;
	
}
.contentHeadlineBee2{
	height: 80vh;
	background-image: url(hha_media/beeMarkedQueen.jpg);
	background-position:center;
	background-attachment: fixed;
	background-size: cover;
}
.contentHeadlineBee3{
	height: 80vh;
	background-image: url(hha_media/broodComb.jpg);
	background-position:center;
	background-attachment: fixed;
	background-size: cover;
}
/* Tarhaus osuus */
.contentHeadlineApiary1{
	height: 100vh;
	background-image: url(hha_media/beekeeperInspection.jpg);
	background-position:center;
	background-attachment: fixed;
	background-size: cover;
}
.contentHeadlineApiary2{
	height: 80vh;
	background-image: url(hha_media/beeSawrm.jpg);
	background-position:center;
	background-attachment: fixed;
	background-size: cover;
}
.contentHeadlineApiary3{
	height: 80vh;
	background-image: url(hha_media/beekeeperInspection3.jpg);
	background-position:center;
	background-attachment: fixed;
	background-size: cover;
}
.contentHeadlineApiary4{
	height: 80vh;
	background-image: url(hha_media/beekeeperInspection2.jpg);
	background-position:center;
	background-attachment: fixed;
	background-size: cover;
}
.contentHeadlineApiary5{
	height: 80vh;
	background-image: url(hha_media/fullHoneyFrame.jpg);
	background-position:center;
	background-attachment: fixed;
	background-size: cover;
}
/* Laki osuus */
.contentHeadlineLaw1{
	height: 100vh;
	background-image: url(hha_media/beehivesInFog.jpg);
	background-position:center;
	background-attachment: fixed;
	background-size: cover;
}
.contentHeadlineLaw2{
	height: 80vh;
	background-image: url(hha_media/kennoHunaja.jpg);
	background-position:center;
	background-attachment: fixed;
	background-size: cover;
}
.contentHeadlineLaw3{
	height: 80vh;
	background-image: url(hha_media/hiveEntrance.jpg);
	background-position:center;
	background-attachment: fixed;
	background-size: cover;
}
.contentHeadlineLaw4{
	height: 80vh;
	background-image: url(hha_media/beekeeperInspection4.jpg);
	background-position:center;
	background-attachment: fixed;
	background-size: cover;
}
/* NAV */
.svg {	
	width: 20vw;
	max-width: 100px;
	background-color: whitesmoke;
	padding: 5px;
	border: 5px whitesmoke;
	border-radius: 10px;				
}  

.hha__header { 
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;	
	height: auto;	
}
.navBar {
	padding-top: 150px;
	display: block;
	position: fixed;	
}


/* Gridin jäsentely */
.hha__header { grid-area: header; }
.hha__main { grid-area: main;}

.hha_grid {        
        grid-template-areas: 
                            "header"
		                    "main";
		grid-template-columns: 100%;
		grid-template-rows: 100px 
							1fr;
	}

